body {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}  


#dashboardTableQuarter1,
#dashboardTableQuarter2,
#dashboardTableQuarter3,
#dashboardTableQuarter4 {
    width: 100%;
    font-size: 22px;
    font-family: urbanist;
}

th, td {
    margin: 0;
    padding: 13px;
    background-color: white;
}

table {
    border: 1px solid black; /* Table border */
    background-color: black; /* Table background color */
}

h2 {
    margin-top: 250px;
    margin-bottom: 1px;
    text-align: center; /* Center text for all h2 headers */
}

.dashboardTableTop {
    font-weight: 800;
    background-color: rgb(227, 239, 246); /* Header background color */
}
