body {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}  


#dashboardTableQuarter1,
#dashboardTableQuarter2,
#dashboardTableQuarter3,
#dashboardTableQuarter4 {
    width: 100%;
    font-size: 22px;
    font-family: Gowun Dodum;
}


td, th {
    margin: 0;
    padding: 13px;
    background-color: #f5f5f5;
    font-family: Gowun Dodum;
}

table {
    border: 1px solid black; 
    background-color: black; 
}

h2 {
    margin-top: 150px;
    margin-bottom: 1px;
    text-align: center; 
    font-family: outfit;
    font-size: 32px;
}

.dashboardTableTop {
    font-weight: 800;
    background-color: rgb(227, 239, 246); 
}


#progressBarText {
    font-family: outfit;
    text-align: center; 
}

#progressText {
    font-family: outfit;
    text-align: center; 
}

#progressBar {
    appearance: none; /* Remove default appearance */
    width: 100%; 
    height: 30px; 
    border-radius: 15px; 
    border: 1px solid black; 
    background-color: white; 
    margin-top: 0;
}

/* Style for WebKit browsers */
#progressBar::-webkit-progress-bar {
    background-color: white; /* Color of the bar background */
    border-radius: 15px; /* Round corners */
}

#progressBar::-webkit-progress-value {
    background-color: black; /* Color of the filled progress */
    border-radius: 15px; /* Round corners for filled portion */
}

