#faqAllQuestions {
    font-family: urbanist;
    
}

#faqAllQuestions details {
    margin-bottom: 100px;
    
}

#faqAllQuestions summary {
    font-size: 30px;
    padding-left: 5%;
    background-color: rgb(238, 238, 238);
}

#faqAllQuestions p, li {
    font-size: 20px;
    margin-left: 10%;

}